


.purple-high-score {
    color: #7952b3; 
}

.align-left {
    float: left;
}

.align-right {
    float: right;
}

/* Do I need to clearfix? */
/*.clearfix::after {
    content: "";
    clear: both;
    display: table;
  }
*/

.card {
    border: none;
}


/* Better way to style button color? */

#button-group button {
    display: block;
}

.btn-primary {
    color: #fff;
    background-color: #7952b3;
    border-color: #7952b3;
}

.btn-primary:hover {
    color: #fff;
    background-color: #614092;
    border-color: #614092;
}

.btn-primary:active {
    color: #fff;
    background-color: #614092;
    border-color: #614092;
}

.btn-primary:focus {
    box-shadow: 0 0 0 3px rgba(121,82,179,.25);
}